@import "variables";
@import "../../node_modules/github-markdown-css/github-markdown.css";

article.post-collection {
  background: transparent;
  & > article {
    margin-top: 1rem;
    padding: $space-common * 2;
    background: white;
    border-radius: $rect-radius-s;
    border: $border-width solid $line-dim;
    &:first-child {
      margin-top: 0;
    }
  }
}
