@import "variables";
@import "mixins";
@import "../../node_modules/github-markdown-css/github-markdown.css";

article.post-collection,
article.post-single {
  background: transparent;
  & > article {
    @include single-article;
  }
}

article.post-collection {
  & > article {
    border-radius: $std-radius-s;
    border: $border-width solid $line-dim;
  }
}

