@import "variables";
@import "mixins";

button {
  font-weight: bold;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  background: $bg-light;
  color: $link-blue;
  border: $border-width solid $line-dim;
  border-radius: $std-radius-s;
  &:hover {
    background: darken($bg-light, $darken-hover-bg);
  }
  &:active {
    background: darken($bg-light, $darken-hover-bg * 2);
  }
}

.side-block button {
  padding: $space-tight $space-common;
}

.side-block li button {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
}

form.config-form button {
  font-size: $font-size-m;
  padding: $space-common ($space-common * 2);
}

.icon-button-group > * {
  cursor: pointer;
  color: $label-dark;
  &:hover {
    color: $link-blue;
  }
}

.editor-nav > button {
  color: $label-dark;
  font-weight: normal;
  background: none;
  padding: $space-common;
  border: $border-width solid transparent;
  user-select: none;
  &:hover {
    color: $link-blue;
  }
  &:disabled {
    font-weight: bold;
    pointer-events: none;
    border: $border-width solid $input-line;
    border-bottom-color: white;
    border-radius: $std-radius-s $std-radius-s 0 0;
  }
}

.editor-actions-button-group {
  & > button {
    padding: $space-common ($space-common * 2);
    margin: 0 $space-tight;
    border: $border-width solid $line-dim;
    border-radius: $std-radius-s;
    color: white;
    @include trim-group-margin-horizontal;
    &.commit {
      background: $success-green;
      border-color: darken($success-green, $darken-shadow);
      &:hover {
        cursor: default;
        background: darken($success-green, $darken-shadow);
      }
      &:disabled {
        pointer-events: none;
        border: $border-width solid $input-line;
        background: $bg-dim;
        color: $value-disabled;
      }
    }
  }
}

.date-list {
  & button {
    font-weight: normal;
    font-size: $font-size-m;
    border: none;
    background: none;
    display: block;
    padding: $space-tight 0;
    font-size: $font-size-m;
    &.year {
      letter-spacing: $letter-spacing-s;
      &::before {
        content: '\2022\a0';
      }
    }
    &:hover {
      background: none;
      color: darken($value-dark, $darken-shadow);
    }
  }
}
