.category-collection {
  font-size: $font-size-m;
  & > button {
    width: 100%;
    font-weight: normal;
    background: none;
    text-align: unset;
    display: block;
    line-height: $std-height * 2;
    height: $std-height * 2;
    border: $border-width solid $line-dim;
    border-bottom-width: 0;
    padding-left: $space-common * 2;
    border-radius: 0;
    &:first-of-type {
      border-radius: $std-radius-s $std-radius-s 0 0;
    }
    &:last-of-type {
      border-radius: 0 0 $std-radius-s $std-radius-s;
      border-bottom-width: $border-width;
    }
    &.selected {
      // pointer-events: none;
      font-weight: 600;
      color: $value-dark !important;
    }
    @include a-common;
    @include a-common-hover-block;
  }
}

.tag-collection {
  font-size: $font-size-s;
  & > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    & > button {
      font-weight: normal;
      background: none;
      height: $std-height * 2;
      margin: 0 $space-tight $space-tight 0;
      padding: 0 $space-common;
      border: $border-width solid $line-dim;
      border-radius: $std-radius-l;
      &.selected {
        // pointer-events: none;
        font-weight: 600;
        color: $value-dark !important;
      }
      @include a-common;
      @include a-common-hover-block;
    }
  }
}

ul.post-list,
ol.post-list {
  padding: ($space-common * 2) $space-page-content;
  font-size: $font-size-m;
  & > li {
    vertical-align: middle;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    // & > a:first-child {
    //   float: left;
    // }
    & > .date {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}

ul.aside-selected-list {
  margin: 0;
  padding: $space-tight $space-common;
  list-style: none;
  font-size: $font-size-s;
  & > li {
    box-sizing: border-box;
    width: $std-width * 2;
    line-height: $std-height;
    background: $bg-dim;
    border-radius: $std-radius-s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space-tight $space-common;
    margin: $space-tight 0;
    @include trim-group-margin-vertical;
  }
}

ul.aside-optional-list {
  margin: 0;
  padding: 0;
  & > li {
    cursor: pointer;
    display: block;
    line-height: $std-height * 2;
    border: $border-width solid $line-dim;
    border-bottom-width: 0;
    border-radius: 0 !important;
    margin: 0 !important;
    padding-left: $space-common * 2;
    & > * {
      vertical-align: middle;
    }
    &:last-child {
      border-bottom-width: $border-width;
    }
    &.selected {
      & > .selected-mark {
        margin-right: $space-common;
        display: inline-block !important;
        color: $label-dark;
      }
    }
    @include trim-group-margin-vertical;
    @include a-common-hover-block;
  }
}

.date-list {
  position: sticky;
  top: $space-screen-margin;
  & > h2 {
    padding: ($space-common * 4) 0 ($space-common * 2) 0;
    font-size: $font-size-l;
  }
  & > div > div {
    padding: $space-common;
  }
  & .collapse {
    & > button {
      color: $value-dark;
      font-weight: bold;
      &::after {
        content: '...';
      }
    }
    & > ul {
      display: block;
    }
  }
  & .shrink {
    padding-bottom: 0;
    & > ul {
      display: none;
    }
  }
  // & .selected > button {
  //   color: $value-dark;
  //   font-weight: bold;
  //   &::after {
  //     content: '...';
  //   }
  // }
}

@media all and (min-width: $desktop-width-l) {
  ul.post-list,
  ol.post-list {
    & > li {
      vertical-align: middle;
      margin: 0 auto;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      & > .date {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
@media all and (min-width: $desktop-width-m) and (max-width: $desktop-width-l) {
  ul.post-list,
  ol.post-list {
    & > li {
      vertical-align: middle;
      margin: 0 auto;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      & > .date {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
@media all and (min-width: $desktop-width-s) and (max-width: $desktop-width-m) {
  ul.post-list,
  ol.post-list {
    & > li {
      display: block;
      & > a > h3 {
        display: block;
      }
      & > span {
        display: block;
        line-height: $std-height;
      }
      & > .date {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
@media all and (max-width: $desktop-width-s) {
  ul.post-list,
  ol.post-list {
    & > li {
      display: block;
      & > a > h3 {
        display: block;
      }
      & > span {
        display: block;
        line-height: $std-height;
      }
      & > .date {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}

