@import "variables";
@import "mixins";

.editor {
  & > .editor-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $space-common;
    & > .editor-nav {
      font-size: $font-size-m;
      margin-bottom: -0.1rem;
    }
    & > .editor-toolbar {
      font-size: $font-size-m;
      & > div {
        display: inline-block;
        margin: 0 $space-common;
        @include trim-group-margin-horizontal;
        & > * {
          margin-right: $space-tight;
          @include trim-group-margin-horizontal;
        }
      }
    }
  }
  & > .editor-body {
    padding: $space-common;
    border: $border-width solid $input-line;
    border-radius: $std-radius-s;
    & > textarea {
      display: block;
      box-sizing: border-box;
      width: 100%;
      min-height: 30rem;
      max-height: 60rem;
      border: $border-width solid $input-line;
      border-radius: $std-radius-s;
      padding: $space-common;
      background: $bg-light;
      font-size: $font-size-m;
      line-height: $std-height;
      resize: vertical;
      &:focus {
        background: white;
        border-color: $highlight-blue;
        outline: none;
      }
    }
    & > .editor-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size-s;
      margin-top: $space-common;
      & > p {
        & > * {
          vertical-align: middle;
        }
        & > a {
          margin-left: $space-tight;
        }
      }
    }
    & > article {
      padding: $space-common;
    }
  }
  & > .editor-preview {
    padding: $space-common * 2;
    border: $border-width solid $input-line;
    border-radius: $std-radius-s;
  }
}

.editor-options {
  & select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: $std-width * 2;
    padding: $space-tight $space-common;
    background: $bg-light;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%231f87c9' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0;
    box-sizing: border-box;
    margin: 0 $space-common;
    font-size: $font-size-m;
    border: $border-width solid $input-line;
    &::after {
      content: 'aa';
    }
    &,
    &:focus {
      outline: none;
    }
    & > option {
      font-size: $font-size-m;
      height: $std-height * 2;
      padding: $space-common;
    }
  }
  & p {
    margin: 0;
    padding: $space-tight $space-common;
  }
  & input {
    height: $std-height;
    background: white;
    border: $border-width solid $line-dim;
    border-radius: $std-radius-m;
    font-size: $font-size-s;
    line-height: $std-height;
    margin-right: $space-tight;
    padding: $space-tight $space-common;
    outline: none;
    &:focus {
      border-color: $input-line;
    }
  }
  & .date-picker {
    margin: 0 $space-common;
    display: inline-flex;
    align-items: baseline;
    & > .react-datepicker-popper {
      & .react-datepicker {
        font-size: $font-size-s;
        & .react-datepicker__header,
        & .react-datepicker__current-month,
        & .react-datepicker-time__header {
          font-size: $font-size-s;
        }
      }
    }
    & .react-datepicker__day-name,
    & .react-datepicker__day {
      padding: $space-tight;
    }
  }
}
