@import "variables";

// Link
@mixin a-common {
  &:link,
  &:visited {
    color: $link-blue;
    text-decoration: none;
  }
}
@mixin a-common-disable {
  &.disabled {
    color: $value-disabled;
    cursor: not-allowed;
    pointer-events: none;
  }
}
@mixin a-common-hover {
  &:hover {
    color: darken($link-blue, $darken-shadow);
  }
}
@mixin a-common-hover-block {
  &:hover {
    background: darken(white, $darken-shadow);
  }
}
@mixin a-highlight-hover-block {
  &:hover {
    color: white;
    border-color: darken($link-blue, $darken-shadow);
    background: darken($link-blue, $darken-shadow);
  }
}

// Article
@mixin single-article {
  margin-top: 1rem;
  padding: $space-common * 2;
  background: white;
  &:first-child {
    margin-top: 0;
  }
}

// Layout
@mixin aside-wide {
  width: 28rem;
  margin-left: 2rem;
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
@mixin children-vertical-align-middle {
  & > * {
    vertical-align: middle;
  }
}

// Margin
@mixin trim-group-margin-horizontal {
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
@mixin trim-group-margin-vertical {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// Shadow
@mixin bottom-shadow {
  -webkit-box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.5);
}
