@import "variables";
@import "mixins";

.tag-collection {
  font-size: $font-size-s;
  & > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    & > a {
      line-height: $std-height * 2;
      height: $std-height * 2;
      margin: 0 $space-tight $space-tight 0;
      padding: 0 $space-common;
      border: $border-width solid $line-dim;
      border-radius: $std-radius-l;
      @include a-common;
      @include a-common-hover-block;
    }
  }
}
