@import "../../styles/variables";
@import "../../styles/mixins";

@mixin aside-wide {
  width: 28rem;
  margin-left: 2rem;
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

@media all and (min-width: $desktop-width-l) {
  .container {
    padding: ($space-common * 2) ($container-desktop-margin * 1.5);
    & > article {
      width: calc(100% - 30rem);
    }
    & > aside {
      @include aside-wide;
    }
  }
}

@media all and (min-width: $desktop-width-m) and (max-width: $desktop-width-l) {
  .container {
    padding: ($space-common * 2) $container-desktop-margin;
    & > article {
      width: calc(100% - 30rem);
    }
    & > aside {
      @include aside-wide;
    }
  }
}

@media all and (min-width: $desktop-width-s) and (max-width: $desktop-width-m) {
  .container {
    padding: ($space-common * 2) $container-desktop-margin;
    & > article {
      width: calc(100% - 30rem);
    }
    & > aside {
      @include aside-wide;
    }
  }
}

@media all and (max-width: $desktop-width-s) {
  .container {
    padding: $space-common * 2;
    & > article {
      width: 100%;
    }
    & > aside {
      width: 0;
      height: 0;
      visibility: hidden;
    }
  }
}

.container {
  margin: 0 auto;
  & > * {
    vertical-align: top;
  };
  & > article {
    display: inline-block;
  }
  & > aside {
    display: inline-block;
    & > p {
      display: block;
      font-size: $font-size-m;
      line-height: $font-size-m;
      margin: $space-tight 0;
      padding: $space-tight 0;
      & > span {
        padding-left: $space-tight;
        & > a {
          font-weight: bold;
          @include a-common;
          @include a-common-hover;
        }
      }
    }
  }
}
