// Font size
$font-size-xs: calc(1.2rem + 0.5vw);
$font-size-s: calc(1.2rem + 1vw);
$font-size-m: calc(1.4rem + 1vw);
$font-size-l: calc(2rem + 1vw);
$font-size-xl: calc(2.2rem + 1vw);
$font-size-xxl: calc(2.4rem + 1vw);

// Color
$primary-color: rgb(12, 85, 168);
$primary-color-dark: #282c34;
$bg-light: #fafafa;
$bg-dim: #efefef;
$value-dark: #333;
$value-light: #fff;
$label-dark: #777;
$label-light: #ccc;
$link-blue: #1f87c9;
$highlight-blue: #1f87c9;
$warning-red: #a00101;
$success-green: #259e41;
$input-line: #ccc;
$input-line-highlight: $highlight-blue;

// Common Size
$border-width: 2px;

// Lighter and darken
$darken-hover-bg: 5%;

// Margin, Padding
$space-tight: 0.5rem;
$space-common: 1rem;
$space-screen-margin: 2rem;

// Radius
$rect-radius-s: 0.5rem;
$btn-radius: 1.5rem;
$input-radius: 0.3rem;

// Shadow
$darken-shadow: 5%;

// Button
$button-height: 0.2rem;
$button-active-scale: 1.05;

// Line
$line-height-s: 2.5rem;
