// Font size
$font-size-xs: 1rem;
$font-size-s: 1.2rem;
$font-size-m: 1.4rem;
$font-size-l: 1.8rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3.2rem;

// Color
$primary-color: rgb(12, 85, 168);
$primary-color-dark: #282c34;
$bg-light: #fafafa;
$bg-dim: #efefef;
$value-dark: #333;
$value-light: #fff;
$label-dark: #777;
$label-light: #ccc;
$link-blue: #1f87c9;
$highlight-blue: #1f87c9;
$warning-red: #a00101;
$success-green: #259e41;
$input-line: #ccc;
$input-line-highlight: $highlight-blue;

// Common Size
$border-width: 0.1rem;

// Lighter and darken
$darken-hover-bg: 5%;

// Margin, Padding
$space-tight: 0.5rem;
$space-common: 1rem;
$space-screen-margin: 2rem;
$container-desktop-margin: 10vw;

// Responsive Layout
$desktop-width-s: 48rem;
$desktop-width-m: 76.8rem;
$desktop-width-l: 10.24rem;

// Radius
$rect-radius-s: 0.25rem;
$btn-radius: 1.5rem;
$input-radius: 0.3rem;

// Shadow
$darken-shadow: 5%;

// Button
$button-height: 0.2rem;
$button-active-scale: 1.05;

// Line
$line-height-s: 2.5rem;
