@import "../../styles/variables";
@import "../../styles/mixins";

.user-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  font-size: $font-size-s;
  & > a {
    line-height: $rect-height;
    margin: 0 $space-common;
    @include a-common;
    @include a-common-hover;
  }
}
